;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[cljs-bean "1.7.0"]
  [org.clojure/core.async "1.3.610"]
  [reagent "1.0.0"]
  [stigmergy/mercury "0.1.2-SNAPSHOT"]]

 :dev-http {9000 "public"}
 
 :builds
 {:datomworld
  {:target :browser
   :modules {:main {:init-fn datomworld.core/init}}}}}


